.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 48px;
    border-radius: 5px;
    padding: 20px 12px;
    border: 1px solid var(--pureBlack);
    background-color: var(--white);
    color: var(--pureBlack);
    transition: 0.2s ease-in;
}

.btn-outline:hover {
    box-shadow: 1px 0 10px 6px rgba(10, 10, 10, 0.5);
    -webkit-box-shadow: 1px 0 10px 6px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 1px 0 10px 6px rgba(10, 10, 10, 0.5);
}

.btn-outline:active {
    position: relative;
    top: 1px;
    left: 1px;
}