.section {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
}

.project__image {
    width: 100%;
}

.project__title {
    padding: 15px 20px 25px;
    font-size: 24px;
    line-height: 130%;
    color: var(--project-card-text);
}

@media (max-width: 650px){
    .project__title {
        font-size: 22px;
        padding: 5px 0 15px 30px;
    }

    .project-details__dec {
        display: grid;
        grid-template-columns: 100px 1fr;
        padding: 0 20px;
    }
}